.ImageLinkForm {
  text-align: center;
  padding: 0 2em;
  p {
    font-size: 2rem;
  }
  .inputContainer {
    display: flex;
    margin: 0 auto;
    max-width: 980px;
    border-radius: 20px;
    padding: 4em;
    background-color: #9dc9be;
    opacity: 0.8;
    background-image: linear-gradient(135deg, #5a02f1 25%, transparent 25%),
      linear-gradient(225deg, #5a02f1 25%, transparent 25%),
      linear-gradient(45deg, #5a02f1 25%, transparent 25%),
      linear-gradient(315deg, #5a02f1 25%, #9dc9be 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 8px 8px;
    background-repeat: repeat;
    input,
    button {
      padding: 0.7em;
      font-size: 2rem;
      outline: none;
      border: none;
    }
    input {
      border: 1px solid #184e77;
      width: 100%;
    }
    button {
      padding: 0.7em 2em;
      color: white;
      background: #184e77;
      border: 1px solid #184e77;
      border-left: none;
      cursor: pointer;
      &:hover {
        color: #184e77;
        background: #b5e48c;
      }
      &:active {
        color: white;
        background: #184e77;
      }
    }
  }
}
