.Tilt {
  margin: 0 2rem;
  box-shadow: 0.1rem 0.2rem 1rem;
  background: #76c893;
  background: linear-gradient(90deg, #76c893 0%, #168aad 100%);
  .Tilt-inner {
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    img {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}
